# 1. Where

我们在上一篇中介绍了 [Select 语句](https://blog.csdn.net/weixin_45488228/article/details/104336824)，接下来我们将使用 Where 语句，对数据进行筛选。

-  使用Jupyter Notebook 运行 SQL 语句需安装 ipytho-n-sql

- %sql 以及 %%sql 为在 Notebook 中运行 SQL 语句，在 SQLite 命令行或 SQLite Stiduo 中不需要 %sql 或 %%sql

载入 SQL 以及连接 SQLite：

In [4]:
%load_ext sql
%sql sqlite:///DataBase/weather_stations.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @DataBase/weather_stations.db'

## 1.1 筛选记录

本文将使用 [weather_stations.db](https://github.com/X1AOX1A/SQL_Notes/blob/master/SQLite/DataBase/weather_stations.db) 数据库，其中包含了 STATION_DATA 表。

首先查看 STATION_DATA 表中的数据：

In [12]:
%sql select * from station_data limit 0,10; -- 筛选前十行

 * sqlite:///DataBase/weather_stations.db
Done.

[(143080, '34DDA7', 2002, 12, 21, 33.8, 987.4, 3.4, 0.2, 36, 0, None, 1, 1, 1, 1, 1),
 (766440, '39537B', 1998, 10, 1, 72.7, 1014.6, 5.9, 6.7, 83.3, 0, None, 0, 0, 0, 0, 0),
 (176010, 'C3C6D5', 2001, 5, 18, 55.7, None, 7.3, 4.3, 69.1, 0, None, 0, 0, 0, 0, 0),
 (125600, '145150', 2007, 10, 14, 33, None, 6.9, 2.5, 39.7, 0, None, 0, 0, 0, 0, 0),
 (470160, 'EF616A', 1967, 7, 29, 65.6, None, 9.2, 1.2, 72.4, 0.04, None, 0, 0, 0, 0, 0),
 (821930, '1F8A7B', 1953, 6, 18, 72.8, 1007.1, 12.4, 3.6, 81.3, 0, None, 0, 0, 0, 0, 0),
 (478070, 'D028D8', 1981, 6, 27, 73.4, None, 7.9, 3, 77, 1.93, None, 0, 0, 0, 0, 0),
 (719200, 'C74611', 1978, 2, 5, -4.4, 962.9, 14.9, 13.3, 1.6, 0, 9.8, 0, 0, 0, 0, 0),
 (477460, '737090', 1962, 8, 14, 72.3, 1009.6, 24.1, 5.1, 84.5, 0, None, 0, 0, 0, 0, 0),
 (598550, 'C5C66E', 2006, 10, 15, 72.9, None, 14.2, 1.7, 82, 0, None, 0, 0, 0, 0, 0)]

## 1.2 使用数字筛选记录

假如我们只对 STATION_DATA 表中 2010 年的数据感兴趣，则使用 Where 语句是一个非常直接的方法。通过这个查询，你可以只返回 year 中只等于 2010 的记录：

In [17]:
%%sql 
select * from station_data 
where year = 2010 
limit 0,10; -- 由于数据太多，我们只展示前 10 条记录

 * sqlite:///DataBase/weather_stations.db
Done.

[(719160, 'BAB974', 2010, 1, 22, -22.8, 1014.2, None, 10.2, -18.5, 0, 9.4, 0, 0, 0, 0, 0),
 (766870, '7C0938', 2010, 3, 22, 48, 871.2, 4.4, 1.5, 50.8, 0.11, None, 1, 1, 1, 1, 1),
 (134624, '11CEA1', 2010, 2, 17, 46, None, 3.4, 2.6, 46, None, None, 0, 0, 0, 0, 0),
 (384010, 'C67A6C', 2010, 3, 24, 14.4, None, 4, 10.7, 21.1, None, None, 0, 0, 0, 0, 0),
 (232210, 'DFDF58', 2010, 2, 25, -7.3, None, 3, 10.3, -2.2, None, None, 0, 0, 0, 0, 0),
 (717385, '302766', 2010, 3, 14, 28.9, None, None, 6.9, 47.2, 0, None, 0, 0, 0, 0, 0),
 (726375, '36C13D', 2010, 3, 6, 18.9, None, 10, 2.7, 30.7, 0, 2, 0, 0, 0, 0, 0),
 (710140, '7FE84E', 2010, 4, 2, 8.7, None, None, None, 36.4, 0, None, 0, 0, 0, 0, 0),
 (965950, '80413C', 2010, 2, 25, 75.6, 1006.8, 3.5, 1.5, 78.2, 0.75, None, 0, 0, 0, 0, 0),
 (144470, '079A10', 2010, 1, 28, 34.3, 1001.9, 7.9, 2.4, 41.9, 0.2, None, 0, 0, 0, 0, 0)]

同样的，你也可以使用 **!<** 或者 **<>** 来筛选信息：

In [19]:
%%sql 
select * from station_data 
where year != 2010 
limit 0,10; -- 由于数据太多，我们只展示前 10 条记录

 * sqlite:///DataBase/weather_stations.db
Done.

[(143080, '34DDA7', 2002, 12, 21, 33.8, 987.4, 3.4, 0.2, 36, 0, None, 1, 1, 1, 1, 1),
 (766440, '39537B', 1998, 10, 1, 72.7, 1014.6, 5.9, 6.7, 83.3, 0, None, 0, 0, 0, 0, 0),
 (176010, 'C3C6D5', 2001, 5, 18, 55.7, None, 7.3, 4.3, 69.1, 0, None, 0, 0, 0, 0, 0),
 (125600, '145150', 2007, 10, 14, 33, None, 6.9, 2.5, 39.7, 0, None, 0, 0, 0, 0, 0),
 (470160, 'EF616A', 1967, 7, 29, 65.6, None, 9.2, 1.2, 72.4, 0.04, None, 0, 0, 0, 0, 0),
 (821930, '1F8A7B', 1953, 6, 18, 72.8, 1007.1, 12.4, 3.6, 81.3, 0, None, 0, 0, 0, 0, 0),
 (478070, 'D028D8', 1981, 6, 27, 73.4, None, 7.9, 3, 77, 1.93, None, 0, 0, 0, 0, 0),
 (719200, 'C74611', 1978, 2, 5, -4.4, 962.9, 14.9, 13.3, 1.6, 0, 9.8, 0, 0, 0, 0, 0),
 (477460, '737090', 1962, 8, 14, 72.3, 1009.6, 24.1, 5.1, 84.5, 0, None, 0, 0, 0, 0, 0),
 (598550, 'C5C66E', 2006, 10, 15, 72.9, None, 14.2, 1.7, 82, 0, None, 0, 0, 0, 0, 0)]

我们也可以同样